<div>
    <span class="p-title">{{details.title}}</span>
</div>

{{#if (eq details.type "snort-sig")}}
    <a href="https://www.snort.org/rule_docs/{{details.string}}">View Rule Docs {{fa-icon "external-link-square" class="external-link-icon"}}</a>
{{/if}}
{{#if (eq details.type "et-sig")}}
    <a href="https://doc.emergingthreats.net/{{details.string}}">View Rule Docs {{fa-icon "external-link-square" class="external-link-icon"}}</a>
{{/if}}
